<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>defaultTab</param-name>
        <param-value>0</param-value>
    </context-param>
    <servlet>
        <servlet-name>iPhonePageBean</servlet-name>
        <servlet-class>com.hometask.iPhonePageBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.hometask.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizeHandle</servlet-name>
        <servlet-class>com.hometask.AuthorizeHandle</servlet-class>
        <init-param>
            <param-name>defaultTab</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HistoryUpdate</servlet-name>
        <servlet-class>com.dao.HistoryUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryList</servlet-name>
        <servlet-class>com.hometask.HistoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommUpdate</servlet-name>
        <servlet-class>com.dao.CommUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>iPhonePageBean</servlet-name>
        <url-pattern>/iPhonePageBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizeHandle</servlet-name>
        <url-pattern>/authorizeCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryUpdate</servlet-name>
        <url-pattern>/HistoryUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryList</servlet-name>
        <url-pattern>/HistoryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommUpdate</servlet-name>
        <url-pattern>/CommUpdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Wildcard means whole app requires authentification</web-resource-name>
            <url-pattern>/authorizeCheck</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>tomcat</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/auth.jsp</form-login-page>
            <form-error-page>/auth-error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>tomcat</role-name>
    </security-role>
</web-app>
